<p-toast></p-toast>
<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="p-button-success mr-2"
      (click)="openNew()"
    ></button>
  </ng-template>

  <ng-template pTemplate="right">
    <button
      pButton
      pRipple
      label="Export"
      icon="pi pi-upload"
      class="p-button-help"
      (click)="exportExcel()"
    ></button>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="apellationTypeService.apellationTypes"
  [columns]="selectedColumns"
  [reorderableColumns]="true"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [globalFilterFields]="typeKeys"
>
  <ng-template pTemplate="caption">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="m-0">Apellation Types</h5>
      <p-multiSelect
        [options]="cols"
        [(ngModel)]="selectedColumns"
        optionLabel="header"
        selectedItemsLabel="{0} columns selected"
        [style]="{ 'min-width': '200px' }"
        placeholder="Choose Columns"
      ></p-multiSelect>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Search"
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        pSortableColumn="mnn_id"
        pReorderableColumn
      >
        {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns">
        <p-columnFilter type="text" [field]="col.field"></p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    let-index="rowIndex"
  >
    <tr [pReorderableRow]="index">
      <ng-container *ngFor="let col of columns">
        <td>{{ rowData[col.field] }}</td>
      </ng-container>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft">
    <p-button
      type="button"
      icon="pi pi-plus"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button
      type="button"
      icon="pi pi-cloud"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-table>
<p-dialog
  [(visible)]="apellationTypeDialog"
  [style]="{ width: '450px' }"
  header="Add Apellation Type"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="formgrid grid">
      <div class="field col">
        <label for="mnn_id">MNN ID</label>
        <p-inputNumber
          id="mnn_id"
          [useGrouping]="false"
          [(ngModel)]="apellationType.mnn_id"
        ></p-inputNumber>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <label for="mnn_id">Num</label>
        <p-inputNumber
          id="num"
          [useGrouping]="false"
          [(ngModel)]="apellationType.num"
        ></p-inputNumber>
      </div>
    </div>
    <div class="field">
      <label for="name">Subtype</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="apellationType.subtype"
        required
        autofocus
      />
    </div>
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="apellationType.name"
        required
        autofocus
      />
    </div>
    <div class="field">
      <label for="name">Release from</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="apellationType.release_form"
        required
        autofocus
      />
    </div>
    <div class="field">
      <label for="name">Dosage</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="apellationType.dosage"
        required
        autofocus
      />
    </div>
    <div class="field">
      <label for="name">Unit</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="apellationType.unit"
        required
        autofocus
      />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
